{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Aastha Homeopathy</title>

    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/feather/feather.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/ti-icons/css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/typicons/typicons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/simple-line-icons/css/simple-line-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" />
  </head>
  <body>
    <div class="container-scroller">

      {% if request.user.is_authenticated %}
        <!-- Navbar Include -->
        {% include 'partials/_navbar.html' %}
      {% endif %}

      <div class="container-fluid page-body-wrapper">

        {% if request.user.is_authenticated %}
          <!-- Sidebar Include -->
          {% include 'partials/_sidebar.html' %}
        {% endif %}

        <!-- Page Content -->
        <div class="main-panel">
          <div class="content-wrapper">
            {% block content %}{% endblock %}
          </div>
        </div>

      </div> <!-- page-body-wrapper -->

    </div> <!-- container-scroller -->

    <!-- Scripts -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/template.js' %}"></script>
    <script src="{% static 'assets/js/settings.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/todolist.js' %}"></script>
  </body>
</html>
