{% load static %} 
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin_dashboard' %}">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin_appointments' %}">
        <i class="mdi mdi-eye menu-icon"></i>
        <span class="menu-title">View Appointment</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin_treatments' %}">
        <i class="mdi mdi-eye menu-icon"></i>
        <span class="menu-title">View Treatment</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin_add_treatment' %}">
        <i class="mdi mdi-plus menu-icon"></i>
        <span class="menu-title">Add Treatment</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin_blogs' %}">
        <i class="mdi mdi-eye menu-icon"></i>
        <span class="menu-title">View Blogs</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin_add_blog' %}">
        <i class="mdi mdi-plus menu-icon"></i>
        <span class="menu-title">Add Blogs</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin_contact' %}">
        <i class="mdi mdi-eye menu-icon"></i>
        <span class="menu-title">Contact</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin_logout' %}">
        <i class="mdi mdi-logout menu-icon"></i>
        <span class="menu-title">Sign out</span>
      </a>
    </li>
   
  </ul>
</nav>